extends layout 
block content
    // topnav with logo
    nav.navbar.bg-light
      .container-fluid
        span.navbar-brand.mb-0.fs-2.align-self-center UFARM

        nav.nav.d-flex.nav-pills
           
            form(action="/logout", method="POST")     
                button.nav-link(name='logout', type='submit') Logout
    .container
      // navigation vertical left
      
      .col-2
        // profile information
        .card.shadow
          h5.card-header Profile Information
          .card-body      
            h1 Hello, #{currentuser.firstname+" "+currentuser.lastname}    
            h2 Your UserID is #{currentuser.userId}
        br
        .card.shadow
          h5.card-header Registered UFs
          .card-body
            table 
              thead 
                    th Full Name
                    th User ID
                    th NIN Number
                    th Phone number
                    th Division
                    th Parish
              tbody 
                if urbanfarmers.length 
                  each urbanfarmer in urbanfarmers 
                    tr 
                        td #{urbanfarmer.firstname+" "+urbanfarmer.lastname}
                        td #{urbanfarmer.userId}
                        td #{urbanfarmer.nin}
                        td #{urbanfarmer.telephone}
                        td #{urbanfarmer.division}
                        td #{urbanfarmer.parish}                
                        td  
                          a.btn.btn-primary(href='/user/update/'+urbanfarmer._id, target='_blank') Update
                        td
                          form(method='post' action='/user/delete')
                            input(type="hidden", placeholder='', name='id', value=urbanfarmer._id)
                            button.btn.btn-danger(name='delete', type='submit') Delete
          br            
          .card.shadow
            h5.card-header Register Urban Farmer
            .card-body 
              a.btn.btn-primary(href='/registration', target='_blank') Register Urban Farmer               
            br